body {
	background-color: yellowgreen;
}

/* All <h1> */
h1 {
	text-align: center;
}
/* All <h2> */
h2 {
	text-align: center;
}
/* All <p> */
p {
	color: white;
	background-color: blue;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
	width: 90%;
	height: 15%;
}
/* Box 1 */
#box1 {
	color: Black;
	background-color: whitesmoke;
}

/* button */
button {
	margin-top: 1%;
	margin-left: 2%;
	width: 30%;
	height: 50px;
	color: white;
	background-color: black;
}
